:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: nowrap;
}

body {
  height: fit-content;
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(238, 239, 242, 1);
}
